@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@fortawesome/fontawesome-free/css/all.min.css';

/* Dark Mode Styles */
.bg-gray-800 {
  background-color: #2d2d2d;
}

.text-white {
  color: #ffffff;
}

.text-gray-300 {
  color: #d1d5db;
}

.text-gray-400 {
  color: #9ca3af;
}

.text-gray-500 {
  color: #6b7280;
}

.bg-gray-700 {
  background-color: #374151;
}

.bg-gray-900 {
  background-color: #111827;
}

.bg-gray-200 {
  background-color: #e5e7eb;
}

.bg-orange-100 {
  background-color: #fef3c7;
}

.bg-orange-600 {
  background-color: #f97316;
}

.text-orange-600 {
  color: #f97316;
}


